html
  head
    title Node Authentication
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    //
       load bootstrap css 
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    //
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type="text/javascript" src="https://www.google.com/jsapi")
    link(rel='stylesheet', href='/css/jquery.nouislider.css')
    link(rel='stylesheet', href='/css/rating.css')
    script(src='/javascript/jquery.nouislider.min.js')
    script(src='/javascript/rating/rating.js')

  body
    .container
      form.save_rating(action='/save_rating')
        ul#rating
          li
              .property-name  Ambience
              .property
              .text-feedback
              input(type='hidden', name='Ambience', value='')
          li
              .property-name  Parking
              .property
              .text-feedback
              input(type='hidden', name='Parking', value='')
          li
              .property-name  Price
              .property
              .text-feedback
              input(type='hidden', name='Price', value='')
          li
              .property-name  Service
              .property
              .text-feedback
              input(type='hidden', name='Service', value='')
          li
              .property-name  Food
              .property
              .text-feedback
              input(type='hidden', name='Food', value='')
          li
              input(type='submit', value='save')

      #chart_div(style='width 900px; height: 500px;')




